body {
  font-family: Helvetica;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.__mobiledoc-editor, .json-content  {
  height: 15rem;
  border: solid thin gray;
  overflow: auto;
  padding: 1rem;
}